notebooks/aesthetics_tree_detailed.png
notebooks/ArchiIntelligenceGraphs.ipynb
notebooks/cultural_sensitivity_tree_detailed.png
notebooks/functionality_tree_detailed.png
notebooks/innovation_tree_detailed.png
notebooks/MeshandPointcloudUtils.ipynb
notebooks/ModelMechanics.ipynb
notebooks/sample_pointcloud.csv
notebooks/sustainability_tree_detailed.png
